.theme-dark {
     --dark-text: brown;
    --dark-background: black;
    --light-background:black;
  }
  .theme-light {
    --light-text:#5f27cd;
    --dark-background: #f1f1f1;
    --light-background: #f1f1f1;
  }
  html, #root {
    background-color: var(--dark-background);
    color: var(--dark-text);
  }
  
  nav {
    /* background-color: var(--dark-background); */
    color: var(--light-text);
  }
  
  /* .main-container {
    background-color: var(--light-background);
  } */